/* for mobile device <= 600px */
@media screen and (max-width: 600px) {
  /*******************************  nav and banner section  *******************************/
  .menu .list-item{
        display: none;
    }
    .menu{
        height: 50px;
        width: 30px;
        background-image: url('../icons/Frame.svg');
        background-repeat: no-repeat;
    }

  .banner-container {
    /* border: 2px solid brown; */
    max-width: 82%;
    height: 500px;
    margin: 24px auto;
  }
  .up-and-btn-container {
    /* border: 5px solid tomato; */
    /* margin: 0px 24px; */
    height: 500px;
  }
  .banner-container .banner-up {
    text-align: center;
  }
  .banner-container .banner-up h1,
  .banner-container .banner-up p {
    width: auto;
    /* margin: 32px; */
    margin-bottom: 10px;
  }
  .banner-container .btn-container {
    flex-direction: column;
    max-width: 758px;
    margin: 32px;
    gap: 10px;
  }
  .banner-container .btn-container .input-field,
  .banner-container .btn-container .btn{
    /* border: 2px solid red; */
    width: 100%;
  }

  /*****************************  popular-tour-container  *****************************/
  .popular-tour-container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: 0px auto;
  }
  .popular-tour-container .tour-left {
    width: 100%;
    padding: 0px 15px;
  }
  .popular-tour-container .tour-left button{
    width: 40%;
  }
  .popular-tour-container .tour-right{
    width: 100%;
    padding-top: 10px;
  }
  /*******************************  why-choose-us-container  *******************************/
  .why-choose-us-container div.coose-us-up *{
    width: 100%;
  }
  .why-choose-us-container .coose-us-up p{
    padding: 0px 32px;
    width: 80%;
  }
  .why-choose-us-container .card-container .card{
    width: 100%;
    padding: 32px;
  }
  /*******************************  destination-container  *******************************/
  .destination-container{

  }
  .destination-container .row1 {
    display: flex;
    flex-direction: column;
  }
  .destination-container .row2 {
    display: flex;
    flex-direction: column;
  }
  .destination-container .row3 {
    display: flex;
    flex-direction: column;
  }
  /***************************************  feature  ***************************************/
  .booking-feature .booking-photo-container{
    grid-template-columns: 1fr;
  }
  .booking-feature .booking-photo-container div{
    width: 100%;
    margin-bottom: 25px;
  }
/********************************  newsletter-container  ********************************/
.newsletter-container{
    flex-wrap: wrap;
  }
.newsletter-container .newsletter-input-container{
    max-width: 100%;
  }
  .newsletter-container .newsletter-picture-container{
    max-width: 100%;
}

/*************************************  footer  *************************************/
.footer-container {
    width: 100%;
    padding: 20px;
  }
}
