@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
    font-family: "Manrope", sans-serif;
}
/* My Custom Debugging class */
.dbg-red {
    border: 2px solid red;
}
.dbg-blue {
    border: 2px solid blue;
}
.dbg-tomato {
    border: 2px solid tomato;
}

/* for hover on seat */
#seat-container button:hover {
    background-color: rgb(185, 243, 184);
}
