@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
    font-family: "Manrope", sans-serif;
}
/* My Custom Debugging class */
/* .dbg-red {
    border: 2px solid red;
}
.dbg-blue {
    border: 2px solid blue;
}
.dbg-tomato {
    border: 2px solid tomato;
} */

#retro {
    background: linear-gradient(90deg, #797dfc 0.63%, rgba(121, 125, 252, 0) 150%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
