@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
:root {
  --heading-color-black: #131318;
  --heading-color-white: #fff;
  --pragrph-color: #5a5a5d;
  --btn-color: #ff5400;
}
body {
  max-width: 1440px;
  /* max-width: 100vw; */
  font-family: "Mulish", sans-serif;
  /* width: 100vw; */
}

/* nav styles start */
nav {
  max-width: 82%;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px auto;
}
.nav-lft {
    display: flex;
    gap: 16px;
    align-items: center;
    border: 2px solid blue;
  }
.nav-lft h1{
    font-weight: 800;
    font-size: 2.24rem;
}
.nav-lft .travel-text {
  color: var(--btn-color);
}

.menu {
  border: 2px solid blue;
  display: flex;
  align-items: center;
}
.menu .list-item {
  border: 2px solid aqua;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 44px;
}

/****************************** banner styles start ************************************/
.banner-container {
  border: 2px solid brown;
  max-width: 82%;
  height: 500px;
  margin: 48px auto;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/banner.png");
  border-radius: 16px;
}
.up-and-btn-container {
  border: 5px solid tomato;
  max-width: 100%;
  max-height: 100%;
}
.banner-container .banner-up {
  text-align: center;
  border: 2px solid black;
  margin-top: 40px;
}
.banner-container .banner-up h1 {
  border: 2px solid blue;
  width: 51%;
  color: var(--heading-color-white);
  font-size: 2rem;
  font-weight: 800;
  margin: 106px auto 15px;
}
.banner-container .banner-up p {
  border: 2px solid red;
  color: var(--heading-color-white);
  width: 58%;
  font-weight: 400;
  line-height: 25px;
  margin: 0px auto;
}

.banner-container .btn-container {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 8px;
  gap: 24px;
  max-width: 758px;
  padding: 16px;
  margin: 0 auto;
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.3);
}
.banner-container .btn-container .input-field input,
button {
  border: 2px solid blue;
  width: 154px;
  height: 40px;
  border-radius: 8px;
}
.banner-container .btn-container button {
  background-color: var(--btn-color);
  color: var(--heading-color-white);
}

/****************** popular-tour-container start **********************/
.popular-tour-container {
  max-width: 82%;
  border: 2px solid red;
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  margin: 0px auto;
}

.popular-tour-container .tour-left{
    border: 2px solid aqua;
    width: 50%;
    padding: 0px 15px;
}
.popular-tour-container .tour-left p, p + li{
    border: 5px solid red;
    margin-top: 14px;
}
.popular-tour-container .tour-left h1 {
  color: var(--heading-color-black)
  font-size: 2rem;
  font-weight: 800;
}
.popular-tour-container .tour-left p, p~li{
    color: var(--pragrph-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.popular-tour-container .tour-left button {
  margin-top: 32px;
  border: 2px solid black;
  color: var(--heading-color-white);
  font-weight: 700;
  background-color: var(--btn-color);
}
.popular-tour-container .tour-right{
    border: 5px solid rgb(44, 42, 165);
    width: 50%;
}
.popular-tour-container .tour-right img{
    width: 100%;
    height: 100%; /*if i don't give it then bottom will empty*/
}

/******** why-choose-us-container styles start  *************************/
.why-choose-us-container{
    max-width: 82%;
    border: 3px solid red;
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    margin: 100px auto 0px;
}
.why-choose-us-container .coose-us-up{
    text-align: center;
}

.why-choose-us-container .coose-us-up h1 {
    border: 2px solid blue;
    width: 51%;
    color: var(--heading-color-black);
    font-size: 2rem;
    font-weight: 800;
    margin: 0px auto 15px;
  }
  .why-choose-us-container .coose-us-up p {
    border: 2px solid red;
    color: var(--pragrph-color);
    width: 58%;
    font-weight: 400;
    line-height: 25px;
    margin: 0px auto;
  }
   
  .why-choose-us-container .card-container{
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 48px;
  }
  .why-choose-us-container .card-container .card{
    border-radius: 16px;
    width: 48%;
  }
  .why-choose-us-container .card-container img{
    height: 64px;
    width: 64px;
  }
  .why-choose-us-container .card-container h3{
    color: var(--heading-color-black);
    font-size: 24px;
    font-weight: 800;
  }
  .why-choose-us-container .card-container p{
    color: var(--pragrph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
  }
  .why-choose-us-container .card-container .card1{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    border: 2px solid tomato;
  }
  .why-choose-us-container .card-container .card2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    border: 2px solid tomato;
  }
  .why-choose-us-container .card-container .card3{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    border: 2px solid tomato;
  }